.contest-form__wrapper {
  padding: 0 @container-padding-mobile 42px;

  &--app-platform {
    padding-top: 33px;
  }

  &--message {
    padding-top: 10px;
  }
}

.contest-form__group {
  .reset();
  list-style: none;
}

.contest-form__fieldset {
  margin: 0;

  &:nth-child(even) {
    background-color: @gray-bg;
  }
}

.contest-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 20px 16px;
}

.contest-form__note {
  .reset();
  margin-top: 35px;
  font-size: @font-size-small;
  text-transform: uppercase;
}

.contest-form__note span {
  display: none;
}

.contest-form__asterisk {
  color: @pink;
}

@media (min-width: @tablet-width) {
  .contest-form {
    display: flex;
    flex-direction: column;
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .contest-form__wrapper {
    padding: 0 58px 52px;

    &--name {
      padding: 0;
    }

    &--contacts {
      padding-top: 31px;
      padding-bottom: 26px;
    }

    &--achievements {
      padding-bottom: 46px;
    }

    &--app-platform {
      padding-top: 37px;
    }

    &--message {
      padding-top: 30px;
    }
  }

  .contest-form__fieldset {
    margin-bottom: 52px;

    &:nth-child(even) {
      background-color: white;
    }

    &--name {
      order: 1;
    }

    &--app-platform {
      order: 2;
    }

    &--contacts {
      order: 3;
    }

    &--achievements {
      order: 4;
    }

    &--message {
      order: 5;
    }
  }

  .contest-form__container {
    order: 6;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    padding: 15px 0 49px;
  }

  .contest-form__note {
    margin: 0;
  }

  .contest-form__button {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .contest-form {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contest-form__wrapper {
    &--app-platform {
      padding: 38px 58px 46px 74px;
    }

    &--contacts {
      padding-top: 28px;
      padding-bottom: 13px;
    }

    &--achievements {
      padding-bottom: 12px;
    }

    &--message {
      padding-top: 28px;
      padding-bottom: 44px;
    }
  }

  .contest-form__container {
    width: 940px;
    padding: 12px 0 0;
  }

  .contest-form__note span {
    display: inline;
  }
}
