.contest {
  background-color: white;
}

.contest__intro {
  width: 280px;
  margin: 0 auto;
  padding: 45px 20px 0;
  font-size: @font-size-small;
  line-height: @line-height-big;
  text-align: center;
}

.contest__call-to-action {
  display: none;
}

@media (min-width: @tablet-width) {
  .contest__intro {
    width: 500px;
    padding: 92px 20px 37px;
    font-size: @font-size-medium;
  }

  .contest__call-to-action {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .contest__intro {
    width: 760px;
    padding: 92px 30px 65px;
  }
}
