.copyright__text {
  margin-right: 15px;
  font-size: @font-size-small;
  line-height: @line-height-small;
}

.copyright__link {
  display: flex;
  align-items: center;
}

.copyright__link:hover .copyright__logo,
.copyright__link:focus .copyright__logo {
  fill: @blue-dark;
}

.copyright__link:active .copyright__logo {
  fill-opacity: 0.3;
}

.copyright__logo {
  fill: @pink;
}
