.download-app {
  padding: 28px 20px;
  background-color: @blue-darker;
}

.download-app__market-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  width: 200px;
  margin: 0 auto;
  padding: 32px 38px 24px;
  list-style: none;
}

.download-app__note {
  margin: 0;
  padding: 0 25px;
  font-size: @font-size-small;
  line-height: @line-height-medium;
  font-weight: 300;
  color: @contrast-text-color;
  text-align: center;
}

.download-app__button {
  margin: 0 auto;
}
