.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 22px 40px 17px;
}

.editor__image {
  display: block;
  width: 280px;
  height: 374px;
}

.editor__controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 240px;
  margin: 41px auto 33px;
}

.editor__filter-icon {
  fill: @blue-dark;
  fill-opacity: 0.3;

  &--fill {
    margin-top: 2px;
  }
}

.editor__filter-button {
  width: 48px;
  height: 51px;
  .reset();
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--active .editor__filter-icon {
    fill: @pink;
    fill-opacity: 1;
  }

  &:hover .editor__filter-icon,
  &:focus .editor__filter-icon {
    fill-opacity: 0.5;
  }

  &:active .editor__filter-icon {
    fill: @pink;
    fill-opacity: 1;
  }

  &--active {
    &:hover .editor__filter-icon,
    &:focus .editor__filter-icon {
      fill: @pink;
      fill-opacity: 1;
    }
  }
}

.editor__filter-ranges {
  width: 240px;
  margin: 0 auto 35px;
}

.editor__range-control {
  display: none;
  position: relative;
  width: 240px;

  &--active {
    display: block;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -35px;
    left: -40px;
    width: 320px;
    height: 1px;
    background-color: @gray-light;
  }

  &--crop {
    .editor__range-toggle {
      left: 193px;
    }
  }
}

.editor__range-scale {
  height: 2px;
  background-color: @blue-dark;
}

.editor__range-toggle {
  position: absolute;
  top: -6px;
  width: 10px;
  height: 10px;
  border: 2px solid @pink;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: @pink;
  }
}

.editor__buttons {
  width: 280px;
  margin: 0 auto;
  padding-top: 38px;
}

.editor__button:first-child {
  margin-bottom: 12px;
}

@media (min-width: @tablet-width) {
  .editor {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 57px 20px 53px;
  }

  .editor__tools-wrapper {
    width: 300px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .editor__image {
    width: 300px;
    height: 400px;
  }

  .editor__controls {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 24px;
    margin: 0 28px;
    padding: 8px 0 20px;
  }

  .editor__filter-button {
    width: 24px;
    height: 24px;
    pointer-events: none;
    cursor: default;

    &--crop {
      margin-right: 2px;
    }

    &--contrast {
      margin-left: 2px;
    }
  }

  .editor__filter-icon {
    fill: @pink;
    fill-opacity: 1;

    &--crop {
      width: 24px;
      height: 24px;

    }

    &--fill {
      width: 24px;
      height: 24px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }
  }

  .editor__filter-ranges {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 202px;
    padding: 0 18px 0 0;
    margin: 0;
  }

  .editor__range-control {
    display: block;
    width: 202px;
    margin: 27px 0;

    &::after {
      bottom: -35px;
      left: -55px;
      width: 275px;
    }

    &--crop {
      margin: 19px 0 35px 0;

      .editor__range-toggle {
        left: 146px;
      }
    }

    &--fill {
      margin: 36px 0 34px 0;

      .editor__range-toggle {
        left: 25px;
      }
    }

    &--contrast {
      margin: 34px 0 33px 0;

      .editor__range-toggle {
        left: 96px;
      }
    }
  }

  .editor__buttons {
    width: 260px;
    margin: 0 14px 0 26px;
    padding-top: 68px;
  }

  .editor__button {
    width: 260px;

    &:first-child {
      margin-bottom: 24px;
    }
  }
}

@media (min-width: @desktop-width) {
  .editor {
    padding: 57px 60px 57px 80px;
  }

  .editor__tools-wrapper {
    width: 410px;
  }

  .editor__controls {
    width: 48px;
    margin: 0 44px 0 0;
    padding: 0 0 8px;
  }

  .editor__filter-button {
    width: 48px;
    height: 48px;

    &--crop {
      margin-right: 3px;
      margin-top: -4px;
    }

    &--contrast {
      margin-left: -3px;
    }
  }

  .editor__filter-icon {
    &--crop {
      width: 48px;
      height: 48px;
    }

    &--fill {
      width: 48px;
      height: 49px;
      margin-top: 2px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }

  .editor__filter-ranges {
    width: 288px;
    padding: 0 30px 0 0;
  }

  .editor__range-control {
    width: 288px;

    &::after {
      bottom: -35px;
      left: -92px;
      width: 410px;
    }

    &--crop {
      .editor__range-toggle {
        left: 71px;
      }
    }

    &--fill {
      .editor__range-toggle {
        left: 247px;
      }
    }

    &--contrast {
      .editor__range-toggle {
        left: 160px;
      }
    }
  }

  .editor__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 410px;
    margin: 148px 0 0;
    padding: 0;
  }

  .editor__button {
    width: 183px;

    &:first-child {
      margin-bottom: 0;
    }
  }
}
