.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 40px;
}

.editor__image {
  display: block;
  width: 280px;
  height: 374px;
}

.editor__filter-button {
  .reset();
  border: none;
  background-color: transparent;

  &--active .editor__filter-icon {
    fill: @pink;
  }
}

.editor__filter-icon {
  fill: @gray-darker;
}

.editor__controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 240px;
  margin: 42px auto 39px;
}

.editor__filter-ranges {
  position: relative;
  width: 240px;
  margin: 0 auto 34px;

  &::after {
    position: absolute;
    content: "";
    bottom: -34px;
    left: -40px;
    width: 320px;
    height: 1px;
    background-color: @gray-light;
  }
}

.editor__range-control {
  display: none;
  position: relative;
  width: 240px;

  &--active {
    display: block;
  }
}

.editor__range-scale {
  height: 2px;
  background-color: @blue-dark;
}

.editor__range-toggle {
  position: absolute;
  top: -6px;
  left: 193px;
  width: 10px;
  height: 10px;
  border: 2px solid @pink;
  border-radius: 50%;
  background-color: white;
}

.editor__buttons {
  width: 280px;
  margin: 0 auto;
  padding-top: 38px;
}

.editor__button:first-child {
  margin-bottom: 12px;
}

@media (min-width: @tablet-width) {
  .editor {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .editor__tools-wrapper {
    width: 300px;
  }

  .editor__image {
    width: 300px;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .editor {
    padding: 57px 60px 57px 80px;
  }

  .editor__tools-wrapper {
    width: 410px;
  }

  .editor__buttons {
    margin-top: auto;
  }
}
