.features {
  background-color: @gray-bg;
}

.features__title {
  display: flex;
  flex-direction: column;
  .reset();
  padding: 40px 20px 60px;
  font-size: @font-size-extra-big;
  line-height: @line-height-auto;
  font-weight: 300;
  text-align: center;
  background-image: linear-gradient(-185deg, white 86%, @gray-bg 86%);
}

.features__title-part:first-child {
  font: inherit;
  margin-bottom: 30px;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px @container-padding-mobile 0;
  background-color: @gray-bg;
}

.features__list {
  order: -1;
  .reset();
  width: 280px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__heading {
  .reset();
  font-size: @font-size-medium;
  line-height: @line-height-extra-small;
  color: @heading-text-color;
  background-color: @gray-bg;
}

.features__description {
  margin: 0;
  padding: 16px 0 30px 0;
  font-size: @font-size-small;
  line-height: @line-height-medium;
}

.features__photo {
  height: 320px;
  width: 157px;

  &--cheer-up,
  &--world-change {
    display: none;
  }
}

.features__img-wrapper {
  max-height: 277px;
  overflow: hidden;
  order: 1;
  margin: 0 auto;
}

.features__research {
  display: none;
}

@media (min-width: @tablet-width) {
  .features__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }

  .features__photo {
    height: 547px;
    width: 268px;
  }

  .features__img-wrapper {
    max-height: 481px;
    order: -1;
    margin: 0;
  }

  .features__list {
    width: 310px;
    margin: 0;
  }

  .features__item {
    align-items: flex-start;
  }

  .features__description {
    text-align: left;
  }

  .features__research {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .features__wrapper {
    flex-wrap: wrap;
    width: 940px;
    padding-left: @content-padding;
    padding-right: @content-padding;
  }

  .features__photo {
    &--cheer-up,
    &--world-change {
      display: block;
    }
  }

  .features__list {
    display: flex;
    width: 940px;
    margin-top: 55px;
  }

  .features__title {
    padding-left: @content-padding;
    padding-right: @content-padding;
  }

  /*.features__item {
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 0;
  }*/
}
