.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 320px;
  padding: 42px 0 0;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: white;

  &--success {
    display: none;
  }

  &--failure {
    display: none;
  }
}

.modal__title {
  .reset();
  margin: 0 20px;
  font-size: @font-size-medium;
  line-height: @line-height-medium;
  font-weight: 700;
  color: black;
  text-align: center;
}

.modal__message {
  margin: 25px 20px 37px;
  font-size: @font-size-small;
  line-height: @line-height-medium;
  text-align: center;

  &--success {
    margin-bottom: 32px;
  }
}

.modal__wrapper {
  padding: 48px 20px 52px;
  background-color: @gray-bg;

  &--failure {
    background-color: white;
    padding-top: 0;
  }
}

.modal__close {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .modal {
    width: 460px;
  }

  .modal__title {
    margin: 0 100px;
    font-size: @font-size-extra-extra-big;
    line-height: @line-height-extra-giant;
  }

  .modal__message {
    margin: 25px 70px 37px;
    font-size: @font-size-medium;

    &--success {
      margin-bottom: 30px;
    }
  }

  .modal__close {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .modal {
    &--success {
      width: 780px;
    }
  }

  .modal__title {
    &--success {
      margin: 0 160px;
    }
  }

  .modal__message {
    &--success {
      margin: 25px 190px 37px;
    }
  }

  .modal__close {
    &--success {
      width: 460px;
    }
  }
}
