.page-header {
  width: 100%;
}

.page-header__inner {
  position: relative;
  margin-bottom: -66px;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__logo-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 22px @container-padding-mobile 22px;
  background-color: @blue-dark;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15),
    inset 0 -1px 0 0 black;
}

.page-header__navigation {
  width: 100%;
}

.page-header__logo-mobile {
  fill: white;
}

.page-header__logo-tablet,
.page-header__logo-desktop {
  display: none;
}

.page-header__logo {
  display: block;
  width: 75px;
  height: 22px;

  &:hover,
  &:focus {
    .page-header__logo-mobile {
      fill: @pink;
    }
  }

  &:active {
    .page-header__logo-mobile {
      fill: white;
      opacity: 0.3;
    }
  }
}

.page-header__hamburger {
  position: absolute;
  bottom: 21px;
  right: @container-padding-mobile;
}

.navigation--nojs ~ .page-header__logo-wrapper {
  order: -1;
  justify-content: center;
  padding: 22px @container-padding-mobile 25px;
}

.navigation--opened ~ .page-header__logo-wrapper {
  order: -1;
  padding: 22px @container-padding-mobile 25px;
}

.navigation--closed ~ .page-header__logo-wrapper {
  order: 1;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: none;
}

.navigation--nojs ~ .page-header__hamburger {
  display: none;
}

.navigation--opened ~ .page-header__hamburger {
  top: 20px;
  right: 17px;
}

.navigation--closed ~ .page-header__hamburger {
  bottom: 21px;
}

@media (min-width: @tablet-width) {
  .page-header__logo-wrapper {
    padding: 27px @container-padding-mobile 43px;
  }

  .page-header__logo-tablet {
    display: inline;
    width: 147px;
    height: 40px;
  }

  .page-header__logo-mobile,
  .page-header__logo-desktop {
    display: none;
  }

  .page-header__logo {
    width: 147px;
    height: 40px;

    &:hover,
    &:focus {
      .page-header__logo-tablet path {
        fill: @pink;
      }
    }

    &:active {
      .page-header__logo-tablet {
        fill: white;
        opacity: 0.3;
      }
    }
  }

  .page-header__inner {
    margin-bottom: -110px;
  }

  .navigation--nojs ~ .page-header__hamburger {
    top: 45px;
  }

  .navigation--opened ~ .page-header__hamburger {
    top: 45px;
  }

  .navigation--closed ~ .page-header__hamburger {
    bottom: 42px;
  }

  .navigation--nojs ~ .page-header__logo-wrapper {
    order: -1;
    padding: 27px @container-padding-mobile 43px;
  }

  .navigation--opened ~ .page-header__logo-wrapper {
    order: -1;
    padding: 27px @container-padding-mobile 43px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-wrapper {
    width: 180px;
    box-shadow: none;
  }

  .navigation ~ .page-header__logo-wrapper {
    order: -1;
    padding: 27px 0 43px;
    background: none;
  }

  .page-header__logo-desktop {
    display: inline;
  }

  .page-header__logo-mobile,
  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo {
    &:hover,
    &:focus {
      .page-header__logo-desktop path {
        fill: @pink;
      }
    }

    &:active {
      .page-header__logo-desktop {
        fill: white;
        opacity: 0.3;
      }
    }
  }

  .page-header__inner {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto -110px;
    padding-left: @content-padding;
    padding-right: @content-padding;
  }

  .page-header__hamburger {
    display: none;
  }

  .page-header__navigation {
    width: 620px;
  }
}
