.panorama__link {
  position: relative;
  display: block;
  width: auto;
  .reset();

  &::before {
    position: absolute;
    content: "Панорама дня";
    top: 0;
    right: 20px;
    width: 140px;
    padding: 5px 0 7px;
    font-size: @font-size-extra-small;
    line-height: @line-height-medium;
    font-weight: 700;
    color: @contrast-text-color;
    text-align: center;
    text-transform: uppercase;
    background-color: @pink;
  }
}

.panorama__img {
  display: block;
  width: 100%;
  height: 100%;
  background-color: @user-photo-bg;
}

.panorama__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px;
  padding: 17px 18px 21px 17px;
  font-size: @font-size-small;
  line-height: @line-height-medium;
  background-color: @gray-bg;
}

.panorama__data {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  .reset();
}

.panorama__author {
  .reset();
  font-size: @font-size-small;
  font-weight: 700;
  margin-right: 4px;
}

.panorama__time {
  font-size: @font-size-extra-small;
  font-weight: 300;
  text-transform: uppercase;
}

.panorama__comment {
  margin: 0;
}

.panorama__likes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 9px;
}

.panorama__likes-count {
  font-size: @font-size-extra-small;
  font-weight: 400;
  text-transform: uppercase;
  color: @pink;
}

.panorama__like-btn {
  order: -1;
  .reset();
  width: 13px;
  height: 12px;
  margin: 3px 18px 1px 1px;
  border: none;
  background: transparent url("/img/icon-heart.svg") no-repeat 50% 50%;
  background-size: 100%;
}

@media (min-width: @tablet-width) {
  .panorama__link {
    height: 509px;
    overflow: hidden;

    &::before {
      top: 56px;
      right: 20px;
    }
  }

  .panorama__img {
    width: 100%;
    min-height: 509px;
  }

  .panorama__info {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 23px 27px 25px;
  }

  .panorama__data {
    order: 1;
  }

  .panorama__likes {
    order: 2;
    margin: 0;
  }

  .panorama__comment {
    order: 3;
  }

  .panorama__like-btn {
    order: 1;
    margin: 2px 2px 1px 17px;
  }
}

@media (min-width: @desktop-width) {
  .panorama__link {
    height: 506px;
    overflow: hidden;

    &::before {
      top: 54px;
      right: 130px;
    }
  }

  .panorama__img {
    width: 100%;
    min-height: 506px;
  }

  .panorama__info {
    width: 883px;
    margin: 0 auto;
    padding: 23px 30px 24px 27px;
  }
}
