.post-photo {
  background-color: @gray-bg;
}

.post-photo__note {
  padding: 20px 20px 43px 14px;
  margin: 0;
  font-size: @font-size-small;
  text-align: center;
  text-indent: 4px;
  background-color: white;
}

.post-photo__note p {
  .reset();
}

.post-photo__wrapper {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .post-photo__wrapper {
    width: 660px;
  }

  .post-photo__note {
    padding: 45px 20px 70px 15px;
    font-size: @font-size-medium;
  }
}

@media (min-width: @desktop-width) {
  .post-photo {
    width: 940px;
    margin: 0 auto;
  }

  .post-photo__wrapper {
    width: auto;
    margin-bottom: 27px;
  }

  .post-photo__note {
    padding: 6px 20px 66px 15px;
  }
}
