.price-list {
  padding: 0 @container-padding-mobile 47px;
  background-color: @gray-bg;
  overflow-x: hidden;
}

.price-list__table {
  width: 300%;
  border-collapse: collapse;
  background-color: white;
  transform: translateX(-33.33%);
}

.price-list__item {
  position: relative;
  box-sizing: border-box;
  width: 33.33%;
  padding: 16px 20px 19px;
  color: @contrast-text-color;
  text-transform: uppercase;
  word-wrap: break-word;
  background-color: @blue-dark;
  border: 2px solid @gray;

  &--hit {
    &::before {
      position: absolute;
      content: "Хит";
      top: 12px;
      left: 9px;
      font-size: @font-size-small;
      line-height: @line-height-big;
      font-weight: 600;
      color: @contrast-text-color;
      text-transform: uppercase;
      transform: rotate(-45deg);
      z-index: 6;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: -2px;
      width: 74px;
      height: 73px;
      background: url("/img/bg-hit.svg") no-repeat 0 0;
      z-index: 5;
    }
  }

  &--options-column {
    display: none;
  }
}

.price-list__item-title {
  margin: 0;
  text-align: center;
  font-size: @font-size-medium;
  line-height: @line-height-big;
  font-weight: 700;
}

.price-list__price {
  margin: 0;
  font-size: @font-size-extra-big;
  line-height: @line-height-big;
  font-weight: 300;
}

.price-list__option {
  width: 33.33%;
  margin: 0;
  padding: 14px 20px;
  font-size: @font-size-small;
  text-transform: uppercase;

  &--options-cell {
    display: none;
  }
}

.price-list__option-value {
  margin: 0;
  padding: 0 17px 0 20px;
  text-align: center;
  vertical-align: middle;
  border-right: 2px solid @gray;
}

.price-list__row {
  border-bottom: 2px solid @gray;
}

.price-list__icon {
  &--yes {
    fill: @green-light;
  }

  &--no {
    fill: @red;
  }
}

.price-list__toggles {
  margin: 40px auto 0;
}

@media (min-width: @tablet-width) {
  .price-list__table {
    width: 620px;
    margin: 0 auto;
    transform: none;
  }

  .price-list__item {
    width: 25%; /*155px*/

    &--options-column {
      display: table-cell;
      font-size: 0;
      background-color: @gray-bg;
      border: none;
    }
  }

  .price-list__option {
    &--cut-off {
      .visually-hide();
    }

    &--options-cell {
      display: table-cell;
    }
  }

  .price-list__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price-list {
    padding-left: @content-padding;
    padding-right: @content-padding;
  }

  .price-list__table {
    width: 940px;
  }
}
