.price-list {
  padding: 91px @container-padding-mobile 48px;
  background: @gray-bg url("../img/bg-triangle-white.svg") no-repeat 50% 0;
  background-size: 100% auto;
  overflow-x: hidden;
}

.price-list__table {
  width: 300%;
  border-collapse: collapse;
  background-color: white;
  transform: translateX(-33.33%);

  &--translate-0 {
    transform: translateX(0);
    transition: transform 0.3s ease;
  }

  &--translate-33 {
    transform: translateX(-33.33%);
    transition: transform 0.3s ease;
  }

  &--translate-66 {
    transform: translateX(-66.66%);
    transition: transform 0.3s ease;
  }
}

.price-list__item {
  position: relative;
  box-sizing: border-box;
  width: 33.33%;
  padding: 17px 20px 20px;
  color: @contrast-text-color;
  text-transform: uppercase;
  word-wrap: break-word;
  background-color: @blue-dark;
  background-clip: padding-box;
  border-left: 2px solid @gray;
  border-right: 2px solid @gray;

  &--hit {
    &::before {
      position: absolute;
      content: "Хит";
      top: 12px;
      left: 9px;
      font-size: @font-size-small;
      line-height: @line-height-big;
      font-weight: 700;
      color: @contrast-text-color;
      text-transform: uppercase;
      transform: rotate(-45deg);
      z-index: 6;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: -2px;
      width: 74px;
      height: 73px;
      background: url("../img/bg-hit.svg") no-repeat 0 0;
      z-index: 5;
    }
  }

  &--options-column {
    display: none;
  }
}

.price-list__item-title {
  margin: 0;
  text-align: center;
  font-size: @font-size-medium;
  line-height: @line-height-big;
  font-weight: 700;
}

.price-list__price {
  margin: 1px 0 0;
  font-size: @font-size-extra-big;
  line-height: @line-height-big;
  font-weight: 300;
}

.price-list__option {
  width: 33.33%;
  margin: 0;
  padding: 16px 23px 14px;
  font-size: @font-size-small;
  vertical-align: middle;
  text-transform: uppercase;
  overflow-wrap: break-word;

  &--options-cell {
    display: none;
  }
}

.price-list__option-value {
  margin: 0;
  padding: 0 17px 0 0;
  text-align: center;
  vertical-align: middle;
  border-right: 2px solid @gray;
}

.price-list__row {
  border-bottom: 2px solid @gray;

  &:first-child {
    border-top: 2px solid @blue-dark;
  }
}

.price-list__icon {
  display: block;
  box-sizing: border-box;

  &--yes {
    width: 31px;
    height: 21px;
    background: url("../img/pic-yes.svg") no-repeat 0 50%;
    margin: 0 auto;
  }

  &--no {
    width: 27px;
    height: 27px;
    background: url("../img/pic-no.svg") no-repeat 50% 0;
    margin: 0 auto;
  }
}

.price-list__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 140px;
  margin: 40px auto 0;
}

.price-list__toggle {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  padding: 0;
  font-size: 0;
  border: 3px solid white;
  border-radius: 50%;
  background-color: @blue-dark;
  opacity: 0.3;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  &--active {
    background-color: white;
    border: 3px solid @blue-dark;
    opacity: 1;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &:not(:last-child) {
    margin-right: 13px;
  }
}

@media (min-width: @tablet-width) {
  .price-list {
    padding: 88px @container-padding-mobile 68px;
  }

  .price-list__table {
    width: 620px;
    margin: 0 auto;
    transform: none;
  }

  .price-list__item {
    width: 155px;
    padding: 13px 20px 8px;

    &--options-column {
      display: table-cell;
      font-size: 0;
      background-color: @gray-bg;
      border: none;
    }

    &:nth-child(2) {
      border-left: 2px solid @blue-dark;
    }

    &--hit {
      &::before {
        top: 4px;
        left: 6px;
      }

      &::after {
        top: 0;
        left: 0;
        width: 61px;
        height: 61px;
        background: url("../img/bg-hit-tablet.svg") no-repeat 0 0;
        background-size: 61px 61px;
      }
    }
  }

  .price-list__item-title {
    font-size: @font-size-normal;
  }

  .price-list__price {
    margin: -2px 0 0;
    font-size: @font-size-medium;
  }

  .price-list__option {
    &--cut-off {
      .visually-hide();
    }

    &--options-cell {
      display: table-cell;
      width: 129px;
      padding: 8px 10px 8px 16px;
      text-transform: none;
      border: 2px solid @gray;
    }
  }

  .price-list__option-value {
    padding: 0;
    border-right: 2px solid @gray;
  }

  .price-list__icon {
    &--yes {
      height: 43px;
    }

    &--no {
      height: 43px;
      background-position: 50% 50%;
    }
  }

  .price-list__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price-list {
    padding: 150px @content-padding 94px;
  }

  .price-list__table {
    width: 940px;
  }

  .price-list__item {
    width: 235px;
    padding: 18px 19px 19px 22px;

    &--hit {
      &::before {
        top: 12px;
        left: 11px;
      }

      &::after {
        width: 74px;
        height: 73px;
        background: url("../img/bg-hit.svg") no-repeat 0 0;
        background-size: 74px 73px;
      }
    }
  }

  .price-list__item-title {
    font-size: @font-size-medium;
  }

  .price-list__price {
    margin-top: 0;
    font-size: @font-size-extra-big;
  }

  .price-list__option {
    &--options-cell {
      font-size: @font-size-medium;
      width: 202px;
      padding: 0 10px 0 21px;
    }
  }

  .price-list__option-value {
    padding: 1px 2px 0 0;
  }

  .price-list__icon {
    &--yes {
      height: 59px;
      background-position: 50% 22px;
    }

    &--no {
      height: 59px;
    }
  }
}
