.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;
    width: auto;
    padding: 58px @container-padding-mobile 52px;
    background-color: white;
  }

  .research__wrapper {
    position: relative;
    width: 310px;
    min-height: 276px;
    margin: 0 auto;
    padding-left: 310px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 238px;
      height: 276px;
      background: transparent url("/img/pic-timer.svg") no-repeat 0 0;
      background-size: 238px auto;
    }

    &::after {
      position: absolute;
      content: "24";
      top: 55px;
      left: 18px;
      width: 176px;
      height: 167px;
      padding-top: 9px;
      font-size: @font-size-super-giant;
      line-height: @line-height-super-giant;
      font-weight: 700;
      color: @pink;
      text-align: center;
      border: 13px solid @pink;
      border-radius: 50%;
      background-color: white;
    }
  }

  .research__heading {
    margin: 0;
    padding: 38px 20px 10px 0;
    font-size: @font-size-extra-extra-big;
    line-height: @line-height-giant;
    font-weight: 700;
  }

  .research__text {
    margin: 0;
    padding-right: 10px;
    font-size: @font-size-small;
    line-height: @line-height-medium;
  }

  .research__link {
    display: block;
    margin-top: 11px;
    font-size: @font-size-small;
    line-height: @line-height-medium;
    color: @pink;
    text-decoration: underline;
  }
}

@media (min-width: @desktop-width) {
  .research {
    padding: 67px @content-padding;
    background-color: @gray-bg;
  }

  .research__wrapper {
    width: 575px;
    min-height: 345px;
    padding-left: 365px;

    &::before {
      width: 298px;
      height: 345px;
      background-size: 298px auto;
    }

    &::after {
      top: 69px;
      left: 22px;
      width: 220px;
      height: 210px;
      padding-top: 10px;
      font-size: @font-size-titan;
      line-height: @line-height-titan;
      border: 17px solid @pink;
    }
  }

  .research__heading {
    padding: 94px 0 25px 0;
    font-size: @font-size-extra-extra-big;
    line-height: @line-height-big;
  }

  .research__text {
    padding-right: 30px;
    font-size: @font-size-medium;
    line-height: @line-height-big;
  }

  .research__link {
    margin-top: 32px;
    font-size: @font-size-medium;
    line-height: @line-height-big;
  }
}
