.reviews {
  padding: 42px 20px 42px;
  background-color: white;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
}

.reviews__item {
  .reset();
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 255px;
}

.reviews__author {
  order: -1;
  max-width: 100%;
  font-size: @font-size-medium;
  line-height: @line-height-big;
  font-weight: bold;
  color: @heading-text-color;
  font-style: normal;
}

.reviews__author-data {
  display: none;
}

.reviews__text {
  max-width: 100%;
  .reset();
  padding: 13px 0 35px;
  font-size: @font-size-small;
  line-height: @line-height-big;
  text-align: center;
}

.reviews__control {
  display: none;
}

.reviews__toggles {
  margin: 0 auto 0;
}

@media (min-width: @tablet-width) {
  .reviews {
    padding: 48px 20px 20px;
  }

  .reviews__item {
    width: 620px;
    margin: 0 auto;
    min-height: 220px;
  }

  .reviews__text {
    padding: 0 0 36px;
    font-size: @font-size-medium;
  }

  .reviews__author {
    order: 1;
    font-size: @font-size-big;
    text-align: center;
  }

  .reviews__author-data {
    display: block;
    margin-top: 2px;
    font-size: @font-size-small;
    font-weight: 400;
  }

  .reviews__wrapper {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    padding: 187px @content-padding 40px;
  }

  .reviews__item {
    width: 820px;
    min-height: 186px;
  }

  .reviews__wrapper {
    position: relative;
    width: 820px;

    &::before {
      position: absolute;
      content: "";
      top: -115px;
      left: 50%;
      width: 79px;
      height: 65px;
      background: url("/img/pic-quotes.svg") no-repeat 0 0;
      background-size: 100% 100%;
      transform: translateX(-47%);
    }
  }

  .reviews__author {
    font-size: @font-size-extra-big;
  }

  .reviews__author-data {
    font-size: @font-size-medium;
  }

  .reviews__control {
    position: absolute;
    display: block;

    &--prev {
      top: 26px;
      left: -60px;
    }

    &--next {
      top: 26px;
      right: -60px;
    }
  }

  .reviews__text {
    padding: 0 60px 36px;
  }

  .reviews__toggles {
    display: none;
  }
}
