.slider__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
}

.slider__toggle {
  width: 6px;
  height: 6px;
  padding: 0;
  font-size: 0;
  border: none;
  border-radius: 50%;
  background-color: @gray-blue;
  cursor: pointer;

  &--active {
    background-color: white;
    box-shadow: 0 0 0 3px @blue-dark;
  }

  &:not(:last-child) {
    margin-right: 19px;
  }
}

.slider__item {
  display: none;

  &--active {
    display: flex;
  }
}
