.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .reset();
  list-style: none;
}

.socials__item {
  flex-basis: auto;
  flex-shrink: 0;
  margin: 0 6px 0 6px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 3px solid @gray-lightest;
  border-radius: 50%;

  &:hover,
  &:focus {
    border-color: @blue-dark;
  }

  &:active {
    border-color: rgba(40, 54, 69, 0.1);
  }
}

.socials__icon {
  fill: @pink;

  &--twitter {
    width: 18px;
    height: 14px;
  }

  &--fb {
    width: 9px;
    height: 18px;
    margin: 0 0 3px 0;
  }

  &--youtube {
    width: 15px;
    height: 13px;
    margin: 0 0 0 3px;
  }
}

.socials__link:active .socials__icon {
  fill-opacity: 0.3;
}
