.user-photos {
  background-color: white;
  margin: 0 auto;
}

.user-photos__intro-text {
  margin: 0;
  padding: 46px 38px 49px;
  font-size: @font-size-small;
  line-height: @line-height-big;
  text-align: center;
}

.user-photos__panorama {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .user-photos__intro-text {
    width: 500px;
    margin: 0 auto;
    padding: 93px 10px 76px;
    font-size: @font-size-medium;

    br {
      display: none;
    }
  }

  .user-photos__panorama {
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .user-photos__intro-text {
    width: 640px;
    padding: 93px 10px 88px;
  }
}
