.reset() {
  margin: 0;
  padding: 0;
}

.input-text-field-style() {
  padding: 15px 20px;
  font-family: @main-font;
  font-size: @font-size-medium;
  line-height: @line-height-big;
  font-weight: 400;
  color: @main-text-color;
  border: 2px solid @gray;
  border-radius: 3px;

  &::placeholder {
    font: inherit;
    color: @main-text-color;
  }

  &:hover {
    border-color: @blue-dark;
  }

  &:focus::placeholder {
    color: transparent;
  }

  &:active,
  &:focus {
    border-color: @pink;
  }
}

.form-toggle-style() {
  display: block;
  padding: 7px 0 5px 69px;
  font-size: @font-size-medium;
  line-height: @line-height-big;
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    box-sizing: border-box;
    margin-top: -19px;
    width: 39px;
    height: 39px;
    background-color: white;
    border: 2px solid @gray;
  }

  @media (min-width: @tablet-width) {
    padding: 7px 0 6px 59px;
  }
}

.visually-hide() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
